extends layouts/www

block vars
  - var namespace = 'team'
  - var layout = 'light'

block content
  section.TeamMembers(data-hook="getTeamContent")
    .ContentWrapper
      h2.headline.-big.centered Meet the Team
      p.centered We are a remote team of builders passionate about quality design and engineering.

      ul.list
        each member in www.teamMembers
          li.member
            img.profile-pic(src="#{member.img_src}" alt="#{member.name}")
            p.labelheading.location= member.location
            h3.name= member.name
            h4.role= member.role

            ul.links
              each link in member.links
                li.link
                  a.-general(href=link)= link

            p.blurb!= member.blurb

block scripts
  script(src="js/team.bundle.js")
