extends layouts/www

block content
  section.introduction
    .ContentWrapper
      figure
        blockquote When a team outgrows individual performance and learns team confidence, excellence becomes a reality.
        figcaption Joe Paterno

  section.TeamMembers
    .ContentWrapper
      :markdown
        # Meet the Team.

      ul.list
        each member in www.teamMembers
          li.member
            img.profile-pic(src="#{member.img_src}" alt="#{member.name}")
            img.map(src="#{member.location.img_src}" alt="#{member.location.name}")
            p.location= member.location.name
            h1.name= member.name
            p.blurb= member.blurb
