extends layouts/blog

block vars
  - var namespace = 'index'

block content
  section.FeaturedPost
    .ContentWrapper(data-hook="getFeaturedPost")
      each post in posts
        if post.featured
          a(href="#{post.dirname}/#{post.basename}")
            h1!= post.meta.title
          p by #{post.meta.author}
          p= post.convertedDate

      code= JSON.stringify(posts)

  section
    .ContentWrapper

      each post in posts
        unless post.featured
          a(href="#{post.dirname}/#{post.basename}")
            h1!= post.meta.title
          p by #{post.meta.author}
          p= post.convertedDate

      code= JSON.stringify(posts)

block scripts
  script(src="js/blog.bundle.js" async)
