meta(charset='utf8')
meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
meta(name='description', content= blog.description)
meta(name='author', content= blog.author)
meta(name="viewport" content="width=device-width, initial-scale=1")

title= post.title

link(rel="stylesheet", type="text/css", href='css/critical/post.css', inline=true)

script#loadcss.
  function loadCSS( href, before, media, callback ){
    "use strict";
    var ss = window.document.createElement( "link" );
    var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
    var sheets = window.document.styleSheets;
    ss.rel = "stylesheet";
    ss.href = href;
    ss.media = "only x";
    ref.parentNode.insertBefore( ss, ref );
    ss.onloadcssdefined = function( cb ){
      var defined;
      for( var i = 0; i < sheets.length; i++ ){
        if( sheets[ i ].href && sheets[ i ].href === ss.href ){
          defined = true;
        }
      }
      if( defined ){
        cb();
      } else {
        setTimeout(function() {
          ss.onloadcssdefined( cb );
        });
      }
    };
    ss.onloadcssdefined(function() {
      ss.media = media || "all";
    });
    return ss;
  }

  loadCSS("/css/post.css", document.getElementById('loadcss'));
noscript
  link(href="/css/post.css" rel="stylesheet")

each favicon in favicons
  link(href="/images/favicons/favicon-#{favicon}.png" rel='icon' sizes=favicon type='image/png')

meta(content=post.title property="og:title")
meta(content="http://blog.lostbison.com/#{post.dirname}/#{post.basename}" property='og:url')
meta(content='website' property='og:type')
meta(content=post.description property='og:description')
meta(content='http://blog.lostbison.com/images/social-share.jpg' property='og:image')
meta(content='summary_large_image' name='twitter:card')
meta(content='@pruett' name='twitter:site')
meta(content=blog.title name='twitter:title')
meta(content=blog.description name='twitter:description')
meta(content='http://blog.lostbison.com/images/social-share.jpg' name='twitter:image:src')
